.base {
    background-color: #000008;
    color: white;
    margin: 0px;
    font-family: 'Fleur De Leah', cursive;
    font-size: 1.5em;
}
body {
    font-family: 'Fleur De Leah', cursive;
}

h1 {
    font-family: 'Italianno', cursive;
}

.spacer50 {
    height: 50px;
    width: 100%;
}

.spacer30 {
    height: 20px;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}