.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-bar {
        width: 500px;
        padding: 30px 0px;
        display: flex;
        align-items: center;
        font-family: 'Italianno', cursive;

        .nav-link-wrapper {
            a {
                transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    color: #cea135;
                    letter-spacing: 2px;
                }
            }

            .active {
                color: #cea135;
            }
        }
    }
}

.bottom-nav {
    display: grid;
    justify-content: center;
    height: 500px;
    background-color: #000008;
    color: #cbcbcb;
    padding: 15px 100px;

    .center {
        .nav-bar {
            justify-content: space-between;
            font-family: 'Fleur De Leah', cursive;
        }
    }
    .footer {
        color: #cbcbcb;

        img {
            opacity: 0.4;
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-container {
                width: 256px;
                text-align: center;
                font-size: 0.7em;
                color: #cbcbcb;
                justify-content: space-between;

                .content {
                    opacity: 2;
                }
            }
        }
    }

    .social-links {
        display: flex;
        justify-content: space-around;
        font-size: 0.5em;

        svg {
            font-size: 2em;
            transition: 0.5s;
            &:hover {
                cursor: pointer;
                color: #cea135;
            }
        }
    }
    .copywrite-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-size: 0.5em;
        padding: 10px;
        color: #cbcbcb;
    }
}
